* {
    font-family: 'Lucida Bright', Georgia, 'Times New Roman', Times, serif
}
.red {
    color: red;
}
.title {
    background-color: rgb(255, 128, 0);
}
.recipe {
    background-color: rgb(255, 71, 71);
}
.description {
    background-color: rgb(255, 208, 65);
}
.base {
    padding: 20px;
}